{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos | Laboratório </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Equipamentos | Laboratório</h1>
    </header>
    <main>
        <section>
            {% block title %}<p>OBRA BR 153 - URUAÇU - GO</p>{% endblock %}
        </section>
        <hr>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Todos os direitos reservados. José Clécio Silva.</p>
    </footer>
</body>
</html>