{% extends 'base.html' %}

{% block title %}
    <h2 class="title">Características</h2>
{% endblock %}
{% block content %}
    <section>
        <h2>{{equipamento.nome}}</h2>
    </section>
    <section>
        {% for caracteristica in caracteristicas %}
            <div class="card-caracteristica">
                <h3>{{caracteristica.nome}}</h3>
                <p>{{caracteristica.valor}}</p>
            </div>
        {% endfor %}
    </section>
    {% if equipamento.obs %}
        <section>
            <div class="card-observacoes card-caracteristica">
                 <h3>Observações:</h3>
                <p>{{equipamento.obs}}</p>
            </div>
        </section>
    {% endif %}
{% endblock %}