{% extends 'base.html' %}

    {% block title %}
        <h2 id="OBRA_URUACU" class="{% if obra == 'OBRA_URUACU' %}active{% endif %}"><a href="{% url 'equipamentos' obra='OBRA_URUACU' %}">OBRA BR 153 - URUAÇU - GO</a></h2>
        <h2 id="OBRA_RIALMA" class="{% if obra == 'OBRA_RIALMA' %}active{% endif %}"><a href="{% url 'equipamentos' obra='OBRA_RIALMA' %}">OBRA BR 153 - RIALAMA - GO</a></h2>
    {% endblock %}
    {% block content %}
        <section>
            <table>
                <tr>
                    <th>Equipamento</th>
                    <th>Fabricante</th>
                    <th>Modelo</th>
                    <th>Patrimônio</th>
                    <th>Data De Calibração</th>
                    <th>Validade</th>
                    <th>Local</th>
                    <th>Status</th>
                    <th>Certificado</th>
                </tr>
                {% for equipamento in equipamentos %}
                    {% with caracteristica=equipamento.caracteristica_set.first %}
                        {% if caracteristica %}
                            <tr class="clickable" onclick="window.location='{% url 'caracteristicas' obra=equipamento.obra id=equipamento.id %}'" style="cursor: pointer;">
                        {% else %}
                                <tr>
                        {% endif %}
                    {% endwith %}
                    
                        <td>{{equipamento.nome}}</td>
                        <td>{{equipamento.fabricante}}</td>
                        <td>{{equipamento.modelo}}</td>
                        <td>{{equipamento.patrimonio}}</td>
                        {% with certificado=equipamento.certificado_set.first %}
                            <td>
                                {% if certificado %}
                                    {{certificado.data_calibracao|date:"d-m-Y"}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if certificado %}
                                    {{certificado.validade|date:"d-m-Y"}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endwith %}
                        <td>
                            {{equipamento.local}}
                        </td>
                        <td id="{{equipamento.status}}">
                            {{equipamento.get_status_display}}
                        </td>
                        {% with certificado=equipamento.certificado_set.first %}
                            <td>
                                {% if certificado %}
                                    <a href="{{certificado.arquivo.url}}" target="_blank" onclick="event.stopPropagation();">Certificado</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </table>
        </section>
    {% endblock %}