{% extends 'base.html' %}

    {% block title %}
        <div class="obra">
            <h2 id="OBRA_URUACU" class="{% if obra == 'OBRA_URUACU' %}active{% endif %}"><a href="{% url 'equipamentos' obra='OBRA_URUACU' %}">OBRA BR 153 - URUAÇU - GO</a></h2>
            <h2 id="OBRA_RIALMA" class="{% if obra == 'OBRA_RIALMA' %}active{% endif %}"><a href="{% url 'equipamentos' obra='OBRA_RIALMA' %}">OBRA BR 153 - RIALMA - GO</a></h2>
        </div>
        <div class="filtro">
            <form method="get">
                <input type="text" name="nome" placeholder="Pesquisar equipamento" value="{{nome}}"> 
                <label class="checkbox">
                     <input type="checkbox" name="status" value="ATIVO" {% if 'ATIVO' in statuses %}checked{% endif %}>
                     Ativo
                </label>
                <label class="checkbox">
                     <input type="checkbox" name="status" value="MANUT" {% if 'MANUT' in statuses %}checked{% endif %}>
                     Em manutenção
                </label>
                <label class="checkbox">
                     <input type="checkbox" name="status" value="INATIVO" {% if 'INATIVO' in statuses %}checked{% endif %}>
                     Inativo
                </label>
                <select name="local">
                    <option value="" {% if local == '' %}selected{% endif %}>Todos</option>
                    <option value="SOLO" {% if local == 'SOLO' %}selected{% endif %}>Laboratório De Solo</option>
                    <option value="ASFALTO" {% if local == 'ASFALTO' %}selected{% endif %}>Laboratório De Asfalto</option>
                </select>
                <button type="submit">Filtrar</button>
            </form>
        </div>
    {% endblock %}
    {% block content %}
        <section>
            <table>
                <tr>
                    <th>Equipamento</th>
                    <th>Fabricante</th>
                    <th>Modelo</th>
                    <th>Patrimônio</th>
                    <th>Data De Calibração</th>
                    <th>Validade</th>
                    <th>Local</th>
                    <th>Status</th>
                    <th>Certificado</th>
                </tr>
                {% for equipamento in equipamentos %}
                    {% with caracteristica=equipamento.caracteristica_set.first %}
                        {% if caracteristica %}
                            <tr class="clickable" onclick="window.location='{% url 'caracteristicas' obra=equipamento.obra id=equipamento.id %}'" style="cursor: pointer;">
                        {% else %}
                                <tr>
                        {% endif %}
                    {% endwith %}
                    
                        <td>{{equipamento.nome}}</td>
                        <td>{{equipamento.fabricante}}</td>
                        <td>{{equipamento.modelo}}</td>
                        <td>{{equipamento.patrimonio}}</td>
                        {% with certificado=equipamento.certificado_set.first %}
                            <td>
                                {% if certificado %}
                                    {{certificado.data_calibracao|date:"d-m-Y"}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if certificado %}
                                    {{certificado.validade|date:"d-m-Y"}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endwith %}
                        <td>
                            {{equipamento.get_local_display}}
                        </td>
                        <td id="{{equipamento.status}}">
                            {{equipamento.get_status_display}}
                        </td>
                        {% with certificado=equipamento.certificado_set.first %}
                            <td>
                                {% if certificado %}
                                    <a href="{{certificado.arquivo.url}}" target="_blank" onclick="event.stopPropagation();">Certificado</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </table>
        </section>
        <section>
            <div id="quantidade_equips">
                <p>Total: {{equipamentos.count}}</p>
            </div>
        </section>
    {% endblock %}